@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
}


body {
  color: rgb(var(--text-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(../../../public/back.jpeg);
  background-size: 100%;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

body > * {
  padding-left: 120px;
  padding-right: 120px;
}

@media screen and (max-width: 819px) {
  body > * {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 479px) {
  body > * {
    padding-left: 12px;
    padding-right: 12px;
  }
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

#content {
  flex: auto;
  display: flex;
  flex-direction: column;
}